<main class="section-padding">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="section-title text-dark">Encontre Oficinas e Serviços</h1>
            <p class="lead text-secondary">Use o mapa para encontrar os melhores profissionais perto de você.</p>
        </div>
        <div class="row g-5">
            <!-- Coluna dos Filtros -->
            <div class="col-lg-3">
                <h4>Filtrar Busca</h4>
                <div class="list-group shadow-sm">
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="Mecânica Geral">
                        Mecânica Geral
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="Borracharia">
                        Borracharia
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="Funilaria e Pintura">
                        Funilaria e Pintura
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="Elétrica">
                        Elétrica
                    </label>
                </div>
            </div>

            <!-- Coluna do Mapa e Resultados -->
            <div class="col-lg-9">
                <div id="mapa" class="map-container shadow-sm rounded mb-4"></div>
                
                <!-- Lista de Resultados -->
                <div id="lista-resultados">
                    <!-- O conteúdo será inserido dinamicamente aqui pelo script.js -->
                </div>
            </div>
        </div>
    </div>
</main>
